<div class="container">
    <h1>Welcome to our website</h1>


    <div class="row mt-5">
        <div class="col-md">
            @await Html.PartialAsync("_Register")
        </div>

    
        <div class="col-md">
            @await Html.PartialAsync("_Login")
        </div>
    </div>
</div>
